:root {
    /* Adicionando variáveis */

    --cor-primaria: #E6B07E;
    --cor-secundaria: #665E57;
    --tom-1: #EAD8C7;
    --tom-2: #B38962;
    --tom-3: #664E38;

    --fonte-titulo: 'Exo', sans-serif;
    --fonte-corpo:  'Source Serif 4', serif;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: var(--tom-1);
    max-width: 1024px;
}

.escondido{
    top: -96px;
}

@media (min-width:768px){
    body {
        font-size: 20px;
    }
};